<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.sciencebowlhub.scibowlgym">

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:supportsRtl="true">
    <activity
      android:name="com.sciencebowlhub.scibowlgym.ui.HomePage"
      android:screenOrientation="portrait"
      android:theme="@style/LaunchTheme">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
      android:name="com.sciencebowlhub.scibowlgym.ui.QuizModeSettingsPage"
      android:screenOrientation="portrait"
      android:theme="@style/AppTheme"/>
    <activity
      android:name="com.sciencebowlhub.scibowlgym.ui.QuizModePage"
      android:screenOrientation="portrait"
      android:theme="@style/AppTheme"/>
    <activity
      android:name="com.sciencebowlhub.scibowlgym.ui.StudyModeSettingsPage"
      android:screenOrientation="portrait"
      android:theme="@style/AppTheme"/>
    <activity
      android:name="com.sciencebowlhub.scibowlgym.ui.StudyModePage"
      android:screenOrientation="portrait"
      android:theme="@style/AppTheme"/>
    <activity
      android:name="com.sciencebowlhub.scibowlgym.ui.ModeratorModeSettingsPage"
      android:screenOrientation="portrait"
      android:theme="@style/AppTheme"/>
    <activity
      android:name="com.sciencebowlhub.scibowlgym.ui.ModeratorModePage"
      android:screenOrientation="portrait"
      android:theme="@style/AppTheme"/>
    <activity
      android:name="com.sciencebowlhub.scibowlgym.ui.AboutPage"
      android:screenOrientation="portrait"
      android:theme="@style/AppTheme"/>
    <activity
      android:name="com.sciencebowlhub.scibowlgym.ui.HelpPage"
      android:screenOrientation="portrait"
      android:theme="@style/AppTheme"/>
    <activity
      android:name="com.sciencebowlhub.scibowlgym.ui.QuizModeStatsPage"
      android:screenOrientation="portrait"
      android:theme="@style/AppTheme"/>
  </application>
</manifest>