<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.sciencebowlhub.scibowlgym"
          xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name="com.sciencebowlhub.scibowlgym.ui.HomePage"
            android:theme="@style/LaunchTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.sciencebowlhub.scibowlgym.ui.QuizModeSettingsPage"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.sciencebowlhub.scibowlgym.ui.QuizModePage"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.sciencebowlhub.scibowlgym.ui.StudyModeSettingsPage"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.sciencebowlhub.scibowlgym.ui.StudyModePage"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.sciencebowlhub.scibowlgym.ui.ModeratorModeSettingsPage"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.sciencebowlhub.scibowlgym.ui.ModeratorModePage"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.sciencebowlhub.scibowlgym.ui.AboutPage"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.sciencebowlhub.scibowlgym.ui.HelpPage"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.sciencebowlhub.scibowlgym.ui.QuizModeStatsPage"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
    </application>
</manifest>